{% extends 'base.html' %}
{% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'css/js/script.js' %}"></script>
{% block title %}
    Сайтишка
{% endblock %}

{% block img %}
    <br>
    <div class="profile">
        <img src="{% static 'css/images/travis.jpg' %}" alt="OneCactusJack">
        <p>OneCactusJack</p>
    </div>
{% endblock  %}

{% block text %}
    <div class="content">
        {% for t in text %}
            <h1>{{ t.text|safe }}</h1>
        {% endfor %}
    </div>
    <hr>
    <form action="{% url 'like_post' post.pk %}" method="POST" class="likes">
        {% csrf_token %}
    {% if user.is_authenticated  %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" onclick="Toggle1()" id="btnh1" class="btn1"><i class="fa-solid fa-heart"></i></button>
            <a id="btnh1">{{ total_likes }} like</a>
        {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" onclick="Toggle1()" id="btnh1" class="btn2"><i class="fa-solid fa-heart"></i></button>
            <a id="btnh1">{{ total_likes }} like</a>
        {% endif %}
    {%  else %}
        <small>Ввойдите в систему чтобы оценить </small>
    {% endif %}
    </form>
{% endblock %}

