{% extends 'base.html' %}
{% load static %}

{% block title %}
    Сайт Андрея Пяткина
{% endblock %}

{% block img %}
    <br>
    <div class="profile">
        <img src="{% static 'css/images/travis.jpg' %}" alt="OneCactusJack">
        <p>OneCactusJack</p>
    </div>
{% endblock  %}

{% block text %}
    <div class="content">
        {% for t in text %}
            <h1>{{ t.text|safe }}</h1>
        {% endfor %}
    </div>
    <br><br>
    <hr>
    <br>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <button type="submit" class="btn btn-primary btn-sm">Лайк</button>
    </form>
{% endblock %}

