{% extends 'base.html' %}
{% load static %}

{% block text %}
<body class="body_home">
    <form action="{% url 'register' %}" method="POST" class="form">
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Произошла ошибка в регистрации, повторите попытку
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% csrf_token %}

        {{ form.as_p }}
    <br></br>
    <button type="submit" class="btn btn-sm btn-warning">Отправить</button>
    </form>
{% endblock %}
</body>


